<ion-view id="add-item" view-title="Publish dish">
  <ion-content ng-class="{expanded:isExpanded}">
    <div class="dish-avatar">
      <div class="main-item-image">
        <img ng-src="{{item.img.data | trusted}}">
      </div>

      <div class="avatar-fade">
      </div>
    </div>
    <ion-slide-box show-pager="true">
      <ion-slide>
        <div class="slide-form">
          <div class="dish-title">
            <label class="item item-input">
              <input type="text" placeholder="Enter dish name" ng-model="item.name">
            </label>
          </div>
          <div class="item item-text-wrap">
            <label class="item item-input item-floating-label">
              <span class="input-label">Description</span>
              <textarea class="review-description" hmd-hard-maxlength="450" placeholder="Add a description" ng-model="item.details"></textarea>
            </label>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box red">
          <label class="item item-input">
            <input type="text" placeholder="Enter your price" ng-model="item.pricePerItem">
          </label>
        </div>
      </ion-slide>
      <ion-slide>
          <hmd-tag-chip-list class="list" tags="tags"></hmd-tag-chip-list>
          <button class="save-button" ng-click="saveItem()">save</button>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
  <div class="nav-buttons">
    <button class="button button-clear icon ion-arrow-right-c next" ng-click="nextSlide()"></button>
    <button class="button button-clear icon ion-arrow-left-c prev" ng-click="previousSlide()"></button>
  </div>
</ion-view>
