<ion-view id="item" class="view-container" view-title="{{item.name}}">
  <ion-content ng-class="{expanded:isExpanded}">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="loadData()">
    </ion-refresher>
    <div class="main-item-image">
      <img ng-src="{{item.img.data | trusted}}">
    </div>
    <div class="item-background row">
      <span class="col col-80">
          <div class="dish-header">
            <span class="dish-title">{{item.name | uppercase}}</span>
            <span> by </span>
            <a ui-sref="app.store({sellerId: item.seller._id})">
              {{item.seller.store.name}}
            </a>
          </div>
        <div>
          <span class="distance"><i class="icon ion-location"></i>&nbsp;{{item.seller.store.address}}</span>
        </div>
      </span>
      <span class="col col-20">
        <div class="dish-header">
          <span class="dish-title">{{item.pricePerItem}}$</span>
        </div>
      </span>
    </div>

    <div class="likes row">
      <span class="liked-number"> {{item.likes.length}} </span>
      <span class="liked">&nbsp;people liked this dish!</span>
    </div>

    <div class="item-info row">
      <span class="details col col-100">{{item.details}}</span>
    </div>
    <button class="button button-small button-clear button-calm like-button center" ng-click="likeItem()">
      {{ LikeTitle }}
    </button>
    <button class="button button-block button-calm order-button" ng-click="showPopup()">
      ORDER
    </button>
  </ion-content>
</ion-view>
