.main-item-image {
  position: relative;

  img{
    width: 100%;
    height: auto;
  }

  h2 {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;

    span {
      color: white;
      font: bold 24px Helvetica, Sans-Serif;
      letter-spacing: -1px;
      background: rgba(0, 0, 0, 0.3);
      padding: 10px;
    }
  }
}

.item-backcground {
  background-color: #F4A460;
}

.item-info {
  background-color: darkgray;
  padding: 30px;
}

