body {
  font-family: TypoGraphica;
}

div {
  font-family: TypoGraphica;
}

.main-item-image {
  position: relative;

  img {
    width: 100%;
    height: auto;
  }

  h2 {
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;

    span {
      color: white;
      letter-spacing: -1px;
      background: rgba(0, 0, 0, 0.5);
      padding: 2%;
    }
  }
}

.item-background {
  width: 100%;
  background-color: #FFC107;

  h3 {
    color: white;
    font-style: italic;
    width: 100%;
  }

  h4 {
    color: white;
    font-style: italic;
    width: 100%;
  }

  i {
    color: white;
    width: 100%;
    font-size: 30px;
  }
}

.item-info {
  background-color: #FFC107;

  span {
    background-color: white;
  }

  h4 {
    color: black;
    padding-right: 10%;
    width: 100%;
  }
}


