
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

#ionic ignores
.idea/*

# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/


.vscode/
.DS_Store

#ionic
node_modules/
plugins/

#Platform iOS
*.mode1v3
*.perspectivev3
*.pbxuser
platforms/ios/build

#Platform Android
platforms/android/assets
platforms/android/build.xml
platforms/android/local.properties
platforms/android/gradlew
platforms/android/gradlew.bat
platforms/android/gradle
platforms/android/.gradle

#Ant builds
platforms/android/ant-build
platforms/android/ant-gen

#Eclipse builds
platforms/android/gen
platforms/android/out

#Gradle builds
platforms/android/build

#Homemade folders
www/.tmp
www/app/app.less
www/css/style.css

*.orig

platforms/android/CordovaLib/build/outputs
