<ion-view view-title="Login" align-title="left">
  <ion-content class="login-page">
    <div class="hero no-header flat">
      <div class="content">
        <h1 class="login-title">Homemade.</h1>
        <h4 class="login-subtitle">Where anyone is a chef.</h4>
      </div>
    </div>
    <div class="list input-texts">
      <form name="loginForm" ng-submit="login()">
        <ion-md-input class="has-error" name="emailAddress" ng-model="user.email" placeholder="Email" highlight-color="calm" type="email"
                      ng-pattern="/(.+)@(.+){2,}\.(.+){2,}/" ng-required></ion-md-input>
        <div ng-messages="loginForm.emailAddress.$error" class="form-errors">
          <div class="form-error" ng-message="pattern">email is not in the right format</div>
        </div>
        <ion-md-input ng-model="user.password" placeholder="Password" highlight-color="calm"
                      type="password" ng-required></ion-md-input>
        <div ng-show="signUpMode">
          <ion-md-input name="fullName" ng-model="user.name" placeholder="Name" highlight-color="calm" type="text"
                        ng-pattern="/^[a-zA-Z ]+$/"></ion-md-input>
            <div ng-messages="loginForm.fullName.$error" class="form-errors">
              <div class="form-error" ng-message="pattern">name field allowed only characters</div>
            </div>
          <ion-md-input name="age" ng-model="user.age" placeholder="Age" highlight-color="calm" type="number"></ion-md-input>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col padding-right" ng-hide="signUpMode">
        <button ng-click="login()" class="button button-block button-calm">Log in</button>
      </div>
      <div class="col">
        <button ng-click="signUp()" class="col button button-block button-royal">Sign up</button>
      </div>
    </div>
  </ion-content>
</ion-view>
