<ion-modal-view id="other-location">
  <ion-header-bar class="bar bar-header bar-calm title-bar">
    <button  class="button button-clear button-dark close-button" ng-click="closeLocationModal()">
      <i class="icon ion-close"></i>
    </button>
  </ion-header-bar>
  <ion-content>
    <div class="card">
      <div class="item center">
        Please insert the address of the desired location
      </div>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Address" ng-model="positioning.address">
        </label>
        <button class="button button-small button-calm search-button" ng-click="checkLocation()">
          Show
        </button>
      </div>
      <div class="item map-container">
        <ng-map id="map" class="map" zoom="14" center="[{{positioning.location.lat}}, {{positioning.location.lon}}]" >
          <marker position="[{{positioning.location.lat}}, {{positioning.location.lon}}]"></marker>
        </ng-map>
      </div>
    </div>
    <div class="row">
      <div class="col padding-right">
        <button ng-disabled="!positioning.legalLocation" ng-click="showOtherLocation()" class="button button-block button-calm">OK</button>
      </div>
      <div class="col">
        <button ng-disabled="!positioning.otherLocation" ng-click="clearOtherLocation()" class="col button button-block button-royal">Clear</button>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
