<ion-view id="purchases" view-title="Purchases">
  <ion-content>
    <ion-tabs class="tabs-top tabs-striped">

      <ion-tab title="Active">

        <ion-nav-view>
          <ion-content>
            Active
            <!--<div class="card list">-->
              <!--<div ng-repeat="purchase in activePurchases">-->
                <!--<hmd-seller-item-purchase-->
                  <!--purchase="purchase"-->
                  <!--done="finishPurchase(purchaseToUpdate)">-->
                <!--</hmd-seller-item-purchase>-->
              <!--</div>-->
            <!--</div>-->
          </ion-content>
        </ion-nav-view>
      </ion-tab>

      <ion-tab title="Done">

        <ion-nav-view>
          <ion-content>
            Done
            <!--<div class="card list">-->
              <!--<div ng-repeat="purchase in donePurchases">-->
                <!--<hmd-seller-item-purchase-->
                  <!--purchase="purchase"-->
                  <!--done="finishPurchase(purchaseToUpdate)">-->
                <!--</hmd-seller-item-purchase>-->
              <!--</div>-->
            <!--</div>-->
          </ion-content>
        </ion-nav-view>
      </ion-tab>

      <ion-tab title="All">

        <ion-nav-view>
          <ion-content>
            All
            <!--<div class="card list">-->
              <!--<div ng-repeat="purchase in allSellerPurchases">-->
                <!--<hmd-seller-item-purchase-->
                  <!--purchase="purchase"-->
                  <!--done="finishPurchase(purchaseToUpdate)">-->
                <!--</hmd-seller-item-purchase>-->
              <!--</div>-->
            <!--</div>-->
          </ion-content>
        </ion-nav-view>
      </ion-tab>

    </ion-tabs>
  </ion-content>
</ion-view>
