<ion-view id="store">
  <ion-nav-title>{{seller.store.name}}</ion-nav-title>
  <ion-content ng-class="{expanded:isExpanded}">
    <ion-refresher
      pulling-text="Pull to refresh..."
      spinner="lines"
      on-refresh="loadData()">
    </ion-refresher>
    <div>
      <div fittext=".9" fittext-load-delay="150" fittext-max="66em" fittext-min="1em" class="store-name calm">{{seller.store.name}}</div>
    </div>
    <div class="card">
      <div class="item item-divider">Details</div>


      <div class="item item-text-wrap description">"{{seller.store.description}}"</div>
      <div class="item seller-info" ng-click="openMapModal()">
        <i class="button-icon icon ion-location assertive"></i>
        <span>{{seller.store.address}}</span>
      </div>
      <a ng-href="tel:{{seller.store.phone}}" class="item seller-info">
        <i class="button-icon icon ion-android-call calm"></i>
        <span>{{seller.store.phone | tel}}</span>
      </a>
    </div>
    <div class="card list">
      <div class="item item-divider">Rating</div>
      <hmd-star-rating rating="seller.store.rating" readonly="true"></hmd-star-rating>
      <a ui-sref="app.reviews({sellerId: seller._id})">
        <hmd-review-header review="review" ng-repeat="review in reviews"></hmd-review-header>
        <div class="row">
          <button class="col col-center button button-small button-clear button-calm">
            ALL REVIEWS
          </button>
          <a ui-sref="app.addReview({sellerId: seller._id})">
            <button class="col col-center button button-small button-clear button-calm">
              ADD REVIEW
            </button>
          </a>
        </div>
      </a>
    </div>
    <div class="list card">
      <div class="item item-divider">My dishes</div>
      <div ng-repeat="item in items">
        <a ui-sref="app.item({itemId: item._id})">
          <hmd-store-item item="item"></hmd-store-item>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
