<ion-view>
  <ion-nav-title>{{seller.store.name}}</ion-nav-title>
  <ion-content ng-class="{expanded:isExpanded}">
    <div class="card">
      <div class="item item-divider">Location</div>
      <div class="item item-icon-right">
        <a class="button-icon icon ion-location assertive"></a>
        {{seller.store.address}}
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">Description</div>
      <div class="item item-text-wrap">{{seller.store.description}}</div>
    </div>
    <div class="card list">
      <div class="item item-divider">Rating</div>
      <hmd-star-rating rating="seller.store.rating" readonly="true"></hmd-star-rating>
      <a ui-sref="app.reviews({sellerId: seller._id})">
        <hmd-review-header review="review" ng-repeat="review in reviews"></hmd-review-header>
        <div class="row">
          <button class="col col-center button button-small button-clear button-calm">
            ALL REVIEWS
          </button>
          <a ui-sref="app.addReview({sellerId: seller._id})">
            <button class="col col-center button button-small button-clear button-calm">
              ADD REVIEW
            </button>
          </a>
        </div>
      </a>
    </div>
    <div class="list card">
      <div class="item item-divider">My dishes</div>
      <div class="item" ng-repeat="item in items">
        <a ui-sref="app.item({itemId: item._id})">
          {{item.name}}
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
