#item-wall {
  .location-spinner {
    padding-top: 40%;

    .spinner svg {
      width: 8rem;
      height: 8rem;
      stroke: @orange;
      fill: @orange;
    }

    span {
      opacity: 0.65;
      color: @orange;
    }
  }

  .dish-row {
    .card {
      margin: 0;
      box-shadow: rgba(0, 0, 0, 0.258824) 0px 1px 5px 0px;
      border-radius: 3px;
    }
  }

  .end-of-items {
    text-align: center;
    font-style: italic;
    opacity: 0.8;
    margin-bottom: 10px;
  }
}
