#item-edit {

  .item-description {
    resize: none;
    background-color: transparent;
  }

  .main-item-image {
    position: relative;

    img {
      width: 100%;
      height: 40%;
      border-bottom: 3px solid @border;
    }

    span {
      letter-spacing: -1px;
      background: rgba(0, 0, 0, 0.3);
      padding: 2%;
    }
  }
}
