<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="menu-blue"
                 ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}"
                 align-title="left">
      <ion-nav-back-button class="no-text">
      </ion-nav-back-button>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-android-menu" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="fabContent"></ion-nav-view>
    <ion-nav-view name="menuContent" ng-class="{expanded: isExpanded}"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="right">
    <ion-header-bar class="menu-header expanded">
      <h2 class="menu-username">{{username}}</h2>
    </ion-header-bar>
    <ion-content class="stable-bg has-expanded-header">
      <ion-list class="menu-list">
        <ion-item nav-clear menu-close ui-sref="app.itemWall">
          <div class="row row-center">
            <span class="icons col col-10">
              <i class="icon ion-fork"></i>
              <i class="icon ion-knife"></i>
            </span>
            <!--<i class="col col-10 icon ion-pizza"></i>-->
            <span class="col col-90">
              Dishes
            </span>
          </div>
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="app.storeEdit">
          <div class="row row-center">
          <i class="col col-10 icon ion-briefcase"></i>
            <span class="col col-90">
          My Store
              </span>
          </div>
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="app.userProfile">
          <div class="row row-center">
          <i class="col col-10 icon ion-person"></i>
            <span class="col col-90">
          Profile
              </span>
          </div>
        </ion-item>
        <ion-item nav-clear menu-close ng-click="logout()">
          <div class="row row-center">
          <i class="col col-10 icon ion-log-out"></i>
            <span class="col col-90">
          Logout
              </span>
          </div>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
