.card-title{
  color: #cecece;
  letter-spacing: 0.13em;
  font-size: 0.9em;

  .dish-title{
    margin-top: 5%;
    line-height: 20%;
  }

  .orange
  {
    color: @orange-title;
    font-size: 1.3em;
  }

  .orange-sub-title{
    color: @orange-title;
  }

  .location-icon{
    font-size: 120%;
  }
}

.avatar{
  height: 80px;
  width: 80px;
  position: absolute;
  top: 1%;
  left: 2%;

  img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 3px solid white;
  }
}

.dish-picture{
  img{
    width: 100%;
    height: auto;
    box-shadow: none;
  }
}



.footer{

}
